.logo{
    border-radius: 100%;
    height:50px;
    width:50px;
}
#out{
    background-color: rgb(93, 133, 241);
    border-radius: 14px;
    color: white;
}
:hover #out{
    background-color: crimson;
}
.margin{
    margin-top: 10px;
}
.gap{
    margin-left:20px ;}
    .a{
    color:white
}
.name{
    color: #008CBA;
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.button{
    border-radius: 14px;
    text-align: center;
}

.set{
    overflow: hidden;
    height:104px ;
}