<nav class="navbar navbar-expand-md navbar-light " style="background-color:blue">

  <img src="assets/download.png" class="logo">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active gap">
        <a class="nav-link" [routerLink]="['/inbox']">Inbox <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item gap">
        <a class="nav-link" [routerLink]="['/drafts']">Drafts</a>
      </li>
      <li class="nav-item gap">
        <a class="nav-link" [routerLink]="['/trash']">Trash</a>
      </li>
      <li class="nav-item gap">
        <a class="nav-link" [routerLink]="['/sent']">Sent</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0 " id="out" type="submit" (click)="logout()">LogOut</button>

  </div>

</nav>
<br>

<div class="row p-0 m-0 im ">

  <div class="col-sm"></div>
  <div *ngFor="let data of datas">
    <div class="sides" *ngIf="data">

      <div class="col-sm p-5">
        <div>
          <label>From :</label>
          <h6 style="display: inline-block;margin-left:30px;">{{data.senderName}} ({{data.senderMail}})</h6>
        </div>

        <div class="form-group">
          <label>To :</label>
          <h6 style="display: inline-block;margin-left:50px;">{{name}}</h6>

        </div>
        <br>
        <div class="form-group ">
          <label>Subject :</label>
          <h6 style="margin-left:30px;">{{data.subject}}</h6>

        </div>

        <div class="form-group">
          <label class="tt">Content :</label>
          <p style="margin-left:30px;">{{data.content}}</p>
        </div>

        <div class="form-group" *ngIf="data.image">
          <label class="tt">Attachment :</label>
          <img src="http://localhost:4001/{{data.image}}" class="img">
        </div>

        <button class="btn button" (click)="delete(data.id)">Delete</button>
        <button style="display: inline-block;margin-left:30px;" class="btn btn-success"
          (click)="reply(data)">Reply</button>


      </div>


    </div>
  </div>
  <div class="col-sm"></div>
</div>
<br>